.lesson__layout {
    width: 100%;
    height: 100%;
    line-height: 35px;
    &--start {
        width: 100%;
        height: 100%;
        @include flex(center, center, column);

        $marginTop: 50px;
        $fontSize: 18px;

        $width: 80%;

        &__header {
            width: 100%;
            height: 500px;
            background-color: $cg-blue;
            background: {
                image: url('../assets/lesson/lesson_image.svg');
                size: cover;
                position: bottom;
                repeat: no-repeat;
            }
            @include flex(center, center, column);
            &__title {
                width: 500px;
                height: 250px;
                color: #fff;
                background-color: $maximum-yellow-red;
                @include flex(center, center, column);
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
        }

        &__break {
            width: 60%;
            border: 1px solid #000;
            margin-top: $marginTop;
        }

        &__intro {
            margin-top: $marginTop;
            width: $width;
            @include flex(center, space-between, row);

            &__text {
                width: 60%;
                padding: 5px;
                font-size: $fontSize;
                align-self: flex-start;

                p {
                    margin-top: 15px;
                }
            }

            &__keywords {
                width: 300px;
                height: 200px;
                border-radius: 5px;
                background-color: $maximum-yellow-red;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                @include flex(center, space-around, column);
                
                &__key {
                    text-align: center;
                }
            }
        }

        &__content {
            margin-top:$marginTop;
            width: $width;
            @include flex(center, space-around, column);

            &__what {
                align-self: flex-start;
            }

            &__explanation {
                margin-top: 10px;
                align-self: flex-start;
                font-size: $fontSize;
            }

            &__instructions {
                width: 100%;
                margin-top: 10px;

                p {
                    text-align: left; 
                }
            }
            
            &__exercice {
                margin-top: $marginTop;
                width: 80%;
                @include flex(center, space-evenly, column);
                &__drag {
                    width: 250px;
                    height: 480px;
                    @include flex(center, space-around, column);
                    background-color: $tiffany-blue;
                    border-radius: 5px;
                    
                    &__item {
                        width: 90%;
                        height: 45px;
                        border-radius: 5px;
                        @include flex(center, center, column);
                        font-size: 10px;
                        background-color: $maximum-yellow-red;
                   }

                }

                &__slick {
                    width: 100%;
                    @include flex(center, space-evenly, row); 
                    
                    &__prove {
                        width: 250px;
                        height:35px;
                        margin-top: 20px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        background-color: $cg-blue;
                        color: #fff;
                        transition: .2s;
                    }
                }
            }
        }

        &__formulas {
            width: $width;
            margin-top: $marginTop;
            @include flex(center, space-around, column);

            &__title {
                align-self: flex-start;
            }

            &__list {
                width:100%;
                @include flex(center, space-evenly, row);
                flex-wrap: wrap;
                &__formula {
                    width: 250px;
                    height: 125px;
                    background-color: $maximum-yellow-red;
                    border-radius: 5px;
                    margin-top: 15px;
                    @include flex(center,space-around, row);
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
                }
            }
        }

        &__behavior {
            width: $width;
            margin-top: $marginTop;
        

            &__text {
                font-size: $fontSize;
            }

            &__animation {
                // width: 100%;
                // height: 350px;
                background-color: #fff;
                margin-top: 15px;
                border-radius: 5px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                object-fit: cover;
                
                &__button {
                    width: 120px;
                    height: 35px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-left: 15px;
                    color: #fff;
                    background-color: $cg-blue;
                }
            }
        }

        &__examples {
            width: $width;
            margin-top: $marginTop;
            @include flex(center, space-around, column);

            &__title {
                align-self: flex-start;
            }

            &__problem {
                width: 100%;
                margin-top: 20px;
                &__text {
                    font-size: $fontSize;
                }

                &__questions {
                    width: 100%;
                    margin-left: 30px;

                    li {
                        font-size: $fontSize;
                        font-weight: bold;
                    }
                }

                &__solution {
                    width: 95%;
                    margin-top: 15px;
                    font-size: $fontSize;
                    @include flex(center, space-between, column);
                    &__formula {
                        width: 340px;
                        height: 100px;
                        margin-left: 15px;
                        border-radius: 5px;
                        background-color: #ffcb77;
                        @include flex(center, center, row);
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                        color: #fff;
                        font-size: 15px;
                    }

                    &__paragraph {
                        margin-top: 15px;
                        text-align: left;
                        align-self: flex-start;
                    }
                }
            }
        }

        &__exercises {
            width: $width;
            margin-top: $marginTop;
            font-size: $fontSize;
            &__exercise {
                width: 95%;
                height: 150px;
                background-color: $maximum-yellow-red;
                margin-top:50px;
                border-radius: 5px;
                padding: 5px;
                @include flex(center, space-around, column);
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;




                &__problem {
                    align-self: flex-start;
                }

                &__result {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background: none;
                    border-bottom: 2px solid #fff;
                    padding: 10px;
                    width: 150px;
                    height: 35px;
                    color: #fff;
                }

            }
        }

        &__recommendations {
            margin-top: $marginTop;
            width: $width;

            &__list {
                width: 100%;
                @include flex(center, space-between, row);
                flex-wrap: wrap;

                &__recommendation{
                    margin-top: 10px;
                    iframe {
                        width: 380px;
                        border-radius: 5px;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        
                    
                    }
                }
            }
        }
    }


}
