$small_device: 700px;
$medium_device: 1024px;
$large_device: 1440px;
$small_device: 700px;
$medium_device: 1024px;
$large_device: 1440px;
$font: Avenir,
Helvetica,
Arial,
sans-serif;
$font_color: #2c3e50;

$cg-blue: #227c9d;
$tiffany-blue: #17c3b2;
$maximum-yellow-red: #ffcb77;
$floral-white: rgba(254, 249, 239, 1);
$light-coral: rgba(254, 109, 115, 1);
