$small_device: 700px;
$medium_device: 1024px;
$large_device: 1440px;
$small_device: 700px;
$medium_device: 1024px;
$large_device: 1440px;
$font: Avenir,
Helvetica,
Arial,
sans-serif;
$font_color: #2c3e50;

$cg-blue: rgba(34, 124, 157, 1);
$tiffany-blue: rgba(23, 195, 178, 1);
$maximum-yellow-red: #ffcb77;
$floral-white: rgba(254, 249, 239, 1);
$light-coral: rgba(254, 109, 115, 1);
